body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 5%;
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 1000px; 
    margin: 0 auto;
}

pre {
    background: #eef;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
    overflow-x: auto;
    white-space: nowrap;
}

.botao-senha {
    padding: 10px 20px;
    background-color: #cf1515;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 20px;
}

.botao-senha:hover {
    background-color: #a82222;
    transform: scale(1.01);
}

.botao-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botao-link:hover {
    background-color: #2980b9;
    transform: scale(1.01);
}

#relatorioContainer {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: auto;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        width: 95%;
    }

    pre {
        font-size: 14px;
    }

    th, td {
        font-size: 12px;
        padding: 6px;
    }

    .botao-senha, .botao-link {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    .botao-senha, .botao-link {
        font-size: 13px;
        padding: 8px 12px;
    }

    table {
        font-size: 12px;
    }

    th, td {
        padding: 5px;
    }
}